.btn-primary {
    color: #fff;
    @include linear-gradient($primary-light, $primary);
    border-color: var(--primary-light);
    transition: all .3s ease-in-out;
    &:hover {
        color: #fff;
        @include linear-gradient($primary, $primary-light);
        border-color: var(--primary-light);
    }
    &:focus {
        box-shadow: 0 0 0 0.2rem rgba($primary,.5);
    }
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    @include linear-gradient($primary-light, $primary);
    border-color: var(--primary-light);
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba($primary,.5);
}